<!DOCTYPE html>
<html lang="{{ site.lang | default: "nl-NL" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div>
        <a href="{{ site.github.repository_url }}" class="btn">Reglement</a>
        <a href="{{ site.github.repository_url }}" class="btn">Covid-19 mededeling</a>
      </div>
    </header>

    <main id="content" class="main-content" role="main">
      <h2>Gedetailleerde uitslagen & standen</h2>
      <table>
        <thead>
          <tr>
            <th style="text-align: left">Hoofdklasse</th>
            <th style="text-align: left">Klasse A</th>
            <th style="text-align: left">Klasse B</th>
            <th style="text-align: left">Klasse C</th>
            <th style="text-align: left">Reserves</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left">Individueel</td>
            <td style="text-align: left">Individueel</td>
            <td style="text-align: left">Individueel</td>
            <td style="text-align: left">Individueel</td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left">Moyennes</td>
            <td style="text-align: left">Moyennes</td>
            <td style="text-align: left">Moyennes</td>
            <td style="text-align: left">Moyennes</td>
            <td style="text-align: left">Moyennes</td>
          </tr>
          <tr>
            <td style="text-align: left">Prestaties</td>
            <td style="text-align: left">Prestaties</td>
            <td style="text-align: left">Prestaties</td>
            <td style="text-align: left">Prestaties</td>
            <td style="text-align: left">Prestaties</td>
          </tr>
        </tbody>
      </table>

      <footer class="site-footer">
        <span class="site-footer-owner">E-mail: <a href="mailto:info.nto@gmail.com">info.nto@gmail.com</a></span>
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
