<!DOCTYPE html>
<html lang="{{ site.lang | default: "nl-NL" }}">
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner" style="background-image: url('biljards.jpg'); background-repeat: no-repeat; background-size: 100%; background-position-y: center;">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      <h2>Uitslagen & standen.</h2>
      <a href="https://drive.google.com/file/d/150fvedLzUa4B9mJOFHu49ijahC0KUrac/view?usp=sharing">2019-2020</a>
      <!-- <a href="https://drive.google.com/...">2021-2022</a> -->
      <h2>Gedetailleerde uitslagen & standen.</h2>
      <table>
        <thead>
          <tr>
            <th style="text-align: left">Hoofdklasse</th>
            <th style="text-align: left">Klasse A</th>
            <th style="text-align: left">Klasse B</th>
            <th style="text-align: left">Klasse C</th>
            <th style="text-align: left">Reserves</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1Jih5-CYv0vWDOnhI-0bQ9AUJwll-Dt3m/view?usp=sharing">Individueel</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/15bmQ6UA29dvaqAoBKegHuBiciEmoEwBV/view?usp=sharing">Individueel</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1dt3rLYvevjBCk9HW1DotXR8WFFzlc0Bo/view?usp=sharing">Individueel</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1PHVsM48OE-5OJk6CUpy8RCTe5JIebnif/view?usp=sharing">Individueel</a></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1ACUvLOYLFkmi_Zq4RqO9RIMAIVYUngfS/view?usp=sharing">Moyennes</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1N6qgsXLekK4qssUH3X3bCdF6EzviEAwO/view?usp=sharing">Moyennes</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1l6Bsx03XXc-HeXiBqdwGepTOEgPWwWKy/view?usp=sharing">Moyennes</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1-iD4ULuI6KToPpWfOK-DX_29XwLF3xOS/view?usp=sharing">Moyennes</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1YoxZkKcURpaEvxtoMruvEOFgJ-bHys29/view?usp=sharing">Moyennes</a></td>
          </tr>
          <tr>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1Vnx5dqIC2S0tPf8FRa31t2_PDG_sUoqJ/view?usp=sharing">Prestaties</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1cD5FUWgtwB73FfB0AQ9Q58L22w0do97l/view?usp=sharing">Prestaties</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1-YhgI--RBf8Z1y1gGqezmbhhHvkTAtNw/view?usp=sharing">Prestaties</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1DMHrsxAB_P3qOZ02qgjHVVqNJhNpRISK/view?usp=sharing">Prestaties</a></td>
            <td style="text-align: left"><a href="https://drive.google.com/file/d/1yBOMNxiF6g9k1mPT2zocxHP9YdBkKxJD/view?usp=sharing">Prestaties</a></td>
          </tr>
        </tbody>
      </table>

      <h2>Overige documenten</h2>
      <span>Er zijn momenteel geen overige documenten</span>
      <!-- <a href="https://drive.google.com/...">document naam</a> -->

      <footer class="site-footer">
        <span class="site-footer-owner">E-mail: <a href="mailto:info.nto@gmail.com">info.nto@gmail.com</a></span>
      </footer>
    </main>
  </body>
</html>
